
body {
    color: #555;
    margin: 0;

}

li {
    display: inline;
    line-height: 1.5;
}

#header {
    background-color: #e39136;
    height: 50px;
    line-height: 50px;
}

#header a {
    color: white;
    text-decoration: none;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header-title {
    display: block;
    float: left;

    font-size: 20px;
    font-weight: bold;
}

#header a:hover {
    color: #222;
}

#header-nav {
    display: block;
    float: right;
    margin-top: 0;
}

#header-nav li {
    display: inline;
    padding-left: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

a:hover {
    color: #F6A623;
}

#content {
    height: 200px;
    position: relative;
    border: 3px solid green;

}

.vertical-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
}
h1, h2, h3, h4 {
    color:#333;
}

input[type=button] {
    background-color:#47a4cf;
    border-radius:25px;
    border:1px solid #6d99c7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:16px 10px;
    text-decoration:none;
    text-shadow:0 1px 0 #3ba9bd;
    outline:none;
}
input[type=button]:hover {
    background-color:#278ad6;
}
input[type=button]:active {
    position:relative;
    top:1px;
}

input[type=text] {
    padding:10px 5px;
}

#content {
    margin: auto;
    width: 50%;
    border: 3px;
}

#output1 {
    height: auto;
    width: 500px;
    font-size: 20px;
    margin: auto;
    line-height: 1.5;
}

#output2 {
    font-size: 20px;
    margin: auto;
    line-height: 1.5;
    text-align: center;
}

.generate {
    text-align: center;
}
