@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;
    background: #5F8C6F; /* fallback for old browsers */
    background: linear-gradient(to right,#5F8C6F, #7BB28F, #a4d8b7);
    display: flex;
    justify-content: center;
    color: #fff;
    font-family:'ZCOOL KuaiLe', cursive;
    text-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding-bottom: 100px;

}

#poemhead {
        text-align: left;
}

.generator {
    margin-top: 10rem;
    text-align: center;
}

.form__group {
    margin-top: 2rem;
}

.form__label {
    font-family:'ZCOOL KuaiLe', cursive;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

#input {
    float: left;
}

#output1 {
    font-size: 20px;
    line-height: 1.5;
    width: 500px;
    height: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid white;
    border-radius: 0.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    text-shadow: none;
    text-align: left;
}

#output2 {
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.5;
    width: 250px;
    height: 170px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid white;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

#output3 {
    font-size: 20px;
    line-height: 1.5;
    width: 500px;
    height: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid white;
    border-radius: 0.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    text-shadow: none;
    text-align: left;
}

.btn {
    position: relative;
    color: white;
    width: 130px;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s;
    text-align: center;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

span {
    transition: all 0.3s;
}


.btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-three::before {
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1, 0.1);
}

.btn-three:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-three::after {
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-three:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}